header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(64, 41, 86);
  color: #eee;
  padding: 20px 60px;
}

.logo {
  font-size: 25px;
  font-weight: 900;
}

.single-temple {
  width: 300px;
}

figure {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
  box-shadow: 2px 2px 2px#9392926c;
}

figure img {
  width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
figcaption {
  padding: 10px;
  font-style: italic;
}
