header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(64, 41, 86);
  color: #eee;
  padding: 20px 60px;
}

.logo {
  font-size: 25px;
  font-weight: 900;
}

.single-temple {
  width: 300px;
}

figure {
  width: 100%;
  object-fit: contain;
  margin: 0;
}

figure img {
  width: 100%;
  object-fit: cover;
}
figcaption {
  padding: 10px;
  font-style: italic;
}
